<!DOCTYPE html>
<html lang="en">
  <%- include('./include/head') %>
  <body>
    <%- include('./include/headers') %>
    <%- include('./include/side-drawer') %>
    <main>
      <h1>Something went wrong!</h1>
    </main>
  </body>
</html>