<!DOCTYPE html>
<html lang="en">
  <%- include('./include/head') %>
  <body>
    <%- include('./include/headers') %>
    <%- include('./include/side-drawer') %>
    <main>
      <h1>Success!</h1>
      <p>Your restaurant was successfully added to our list!</p>
    </main>
  </body>
</html>
